<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Boten</title>

    <link rel="stylesheet" href="src/css/tabs.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="src/css/main.css" media="screen" title="no title" charset="utf-8">

  </head>


  <body>
    <div id="app">

      <ul class="tabs">

        <li>
            <input type="radio" name="tabs" id="tab0" checked />
            <label for="tab0"><img src="src/img/icon-menu.png" alt="Menu" /></label>
            <div id="tab-content0" class="tab-content window-content">
              <div class="config-group">

                <aside id="side-menu">
                  <ul>
                    <li><a href="#add-service">Adicionar Serviço</a></li>
                  </ul>
                </aside>

                <div id="main">
                  <h1>Configurações</h1>

                  <section id="list-service">
                    <h2>Serviços Ativos</h2>
                    <ul v-for="service in myservices" track-by="$index">
                      <li>
                        <img src="src/img/{{service.icon}}" alt="{{service.title}}" />
                        <span>{{service.title}}</span>
                      </li>
                    </ul>
                  </section>

                  <section id="add-service">
                    <h2>Adicionar Serviço</h2>

                    <ul id="list-services">
                      <li v-for="service in services">
                        <a href="#" v-on:click="addService(service)">
                          <img src="src/img/{{ service.icon }}" alt="{{service.title}}" />
                          <b>{{service.title}}</b>
                        </a>
                      </li>
                    </ul>
                  </section>

                </div>
              </div>

            </div>
        </li>

        <li v-for="service in myservices" track-by="$index" alt="{{ service.uid }}">
            <input type="radio" name="tabs" id="tab{{$index+1}}" />
            <label for="tab{{$index+1}}"><img src="src/img/{{ service.icon }}" alt="{{ service.title }}" /> {{ service.customtitle }}</label>
            <div id="tab-content{{$index+1}}" class="tab-content">
              <webview src="{{ service.src }}" style="display:flex;height:100%;" allowpopups></webview>
            </div>
        </li>

      </ul>

    </div>



    <!-- <webview src="https://www.messenger.com/" style="display:flex;height:100%;" allowpopups></webview> -->
  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js" charset="utf-8"></script>

  <script>
    // You can also require other files to run in this process
    require('./renderer.js')
    require('./src/js/main.js')
  </script>

</html>
